<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Messages</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
<h1>Messages (<span th:text="${entries.size()}"></span>)</h1>
<div th:if="${entries.isEmpty()}">
    <span>No messages yet.</span>
</div>
<div th:unless="${entries.isEmpty()}" th:each="entry: ${entries}">
    <p>
        <span th:text="${entry.author}"></span><br>
        <span th:text="${entry.message}"></span>
    </p>
</div>

<h2>Add new message</h2>
<form action="#" th:action="@{/messages}" th:object="${entry}" method="post">
    <p><input type="text" th:field="*{author}" placeholder="Name"/></p>
    <p><input type="text" th:field="*{message}" placeholder="Message"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>

</body>
</html>